﻿@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<MvcWebClient.Models.CompanyViewModel>
@{
    ViewData["Title"] = "Companies";
}

<h1>Companies</h1>
@if ((await AuthorizationService.AuthorizeAsync(User, "CanCreateAndModifyData")).Succeeded)
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullAddress)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullAddress)
                </td>
                @if ((await AuthorizationService.AuthorizeAsync(User,
                    "CanCreateAndModifyData")).Succeeded)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { }) |
                        @Html.ActionLink("Details", "Details", new { }) |
                        @Html.ActionLink("Delete", "Delete", new { })
                    </td>
                }
            </tr>
        }
    </tbody>
</table> 